.boton {   
  
    padding: 10px;
    background-color: lightblue;
    color: black;
    margin-left: 60px;
    margin-top: 20px;

}
.botonA{
    justify-content: center;
    padding: 10px;
    margin-left: 580px;
}

.botonB{
    padding: 10px;
    background-color:burlywood;
    text-transform: none;
    border: 10px;
}

/*Extend*/

.botonFormulario {

    width:150px;
    height:40px;
    background-color: rgb(33, 92, 126);
    border-radius: 15%;
    color: whitesmoke;
    font-size: 20px;
    margin-left: 8%;

}

.botonVolver {
    @extend .botonFormulario;
    width:100%;
    border-radius: 5%;
    margin-left: 9%;
    text-decoration: none;
}
@mixin estilo($anchoo, $altura, $margen,$padding, $subrayado, $color,){
    height: $altura;
    width: $anchoo;
    margin: $margen;
    padding: $padding;
    text-decoration: $subrayado;
    color: $color;
}
.botonC{
    @include estilo(200px, 100px, 10px 0 0 0, 30px 0 0 0, none, black)
}

.botonD{
    @include estilo(200px, 100px, 10px 0 0 0, 30px 0 0 0, none, black)
}